body {
    background-color: whitesmoke;
}

.nav-link {
    color: dodgerblue !important;
    font-weight: 400;
    padding-left: 15px;
}

.auth-form {
    margin: 30px auto;
    background-color: white;
    padding: 40px;
}

.auth-form label {
    font-size: 12px;
}

.input-group .form-control {
    margin-bottom: 20px;
}

.suggestion-dropdown {
    width: 100%;
    position: absolute;
    z-index: 10;
    margin-top: calc(2.25rem + 2px);
}

.event-row {
    background-color: white;
    margin: 30px;
    box-shadow: 1px 2px 10px 0px lightgray;
}

.event-container {
    padding: 20px;
}
