{% extends "base.html" %}

{%block content %}

<div class = "col-lg-6 col-md-6 col-sm-8 col-xs-10">
  
  <form class = "auth-form" method = "POST" action = "{{ url_for('security_ques') }}">
    <h2>Password Reset </h2>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}


    Enter your email: <br><br>
    <div class="input-group">
      <input type="text" class="form-control" id="email-input" name="email" >
    </div>
    <a class="btn btn-danger" href="/" role="button" style = "margin: 10px;">Cancel</a>
    <button type="submit" class="btn btn-primary">Submit</button>

</div>

{%endblock %}}
