{% extends "base.html" %}



{% block content %}


<div class = "row">
    <div class = "col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
    <div class = "col-lg-8 col-md-8 col-sm-10 col-xs-10" style = "background-color: white; margin: 40px;">
        <h2 style = "margin: 20px; display: inline-block;">Address Book</h2>
        <!-- would like to have this button on same line but aligned right-->

        <a class="btn btn-primary" href="/add_contacts" role="button" style="margin: 20px 10px;float: right;">Add new contact</a>
        <div style = "margin: 20px;">
            {% for i in contact_list %}
                <hr>
                <b>{{i["first"]}} {{i["last"]}}</b><br>
                Email: <a href = "mailto: {{ i['email'] }}" >{{i["email"]}}</a> <br>
                Address: {{i["address"]}}<br>
            {% endfor %}
            <hr>
        </div>
    </div>
    <div class = "col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
</div>

{% endblock %}
