{% extends "base.html" %}

{% block content %}

    <div class = "row">
        <div class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class = "col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <h1 style = "margin: 20px;">My Upcoming Events</h1>
            <h2 style = "margin: 20px"><a href = "{{ url_for('create_event') }}"> Create an Event </a></h2>
            {% for event in eventlist %}
                <div class = "row event-row">
                    <img class = "location-img" style="max-width:100%; max-height:100%;" src = "{{ event[1] }}"/>
                    <div class = "event-container">
                        <h2 style = "display: inline-block;"> {{ event[0][0] }} </h2>
                        <p> {{ event[2] }}</p>
                        <p> {{ event[0][3] }}</p>
                        <p> {{ event[4] | safe }}</p>
                    </div>
                </div>
            {% endfor %}
            <h1 style = "margin: 20px;">Pending Events</h1>
            {% for event in pendinglist %}
                <div class = "row event-row">
                    <img class = "location-img" style="max-width:100%; max-height:100%;" src = "{{ event[1] }}"/>
                    <div class = "event-container">
                        <h2 style = "display: inline-block;"> {{ event[0][0] }} </h2>
                        <p> {{ event[2] }}</p>
                        <p> {{ event[0][3] }}</p>
                        <a href = "{{ url_for('accept_event', event_id = event[3]) }}" style = "margin-right: 20px; color: seagreen;">Accept</a>
                        <a href = "{{ url_for('decline_event', event_id = event[3]) }}" style = "color: crimson;">Decline</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

{% endblock %}
