{% extends "base.html" %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <div class = "row">
        <div class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class = "col-lg-10 col-md-10 col-sm-10 col-xs-10">
            {% if pendinglist|length != 0 %}
            <h1 style = "margin: 20px;">Pending Event Invites</h1>
            {% for event in pendinglist %}
                <div class = "row event-row">
                    <img class = "location-img" style="max-width:100%; max-height:100%;" src = "{{ event[1] }}"/>
                    <div class = "event-container">
                        <h2 style = "display: inline-block;"> {{ event[0][0] }} </h2>
                        <p> {{ event[2] }}</p>
                        <p> {{ event[0][3] }}</p>
                        <a href = "{{ url_for('accept_event', event_id = event[3]) }}" style = "margin-right: 20px; color: seagreen;">Accept</a>
                        <a href = "{{ url_for('decline_event', event_id = event[3]) }}" style = "color: crimson;">Decline</a>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
            <h1 style = "margin: 20px;">My Upcoming Events</h1>
            <h2 style = "margin: 20px"><a href = "{{ url_for('create_event') }}"> Create an Event </a></h2>
            {% for event in eventlist %}
                <div class = "row event-row dropdown">
                    <img class = "location-img" style="max-width:100%; max-height:100%;" src = "{{ event[1] }}"/>
                    <div class = "event-container">
                        <div class="dropdown">
                            <h2 style = "display: inline-block;"> {{ event[0][0] }} </h2>
                            <p> {{ event[2] }} </p>
                            <p> {{ event[0][3] }}</p>
                            <p> {{ event[4] | safe }}</p>
                        </div>
                    </div>

                    <button type="button" class="btn btn-link dropdown-toggle" style = "padding-top: 0; text-decoration: none;" data-toggle="dropdown"><h2>&#8942</h2></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url_for('edit_event', event_id = event[3]) }}">Edit Event</a>
                        <a class="dropdown-item" href="{{ url_for('delete_event', event_id = event[3]) }}">Remove Event</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class = "col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

{% endblock %}
