{% extends "base.html" %}

{%block content %}

<div class = "col-lg-6 col-md-6 col-sm-8 col-xs-10">

<form class = "auth-form" method = "POST" action = "{{ url_for('check_answers') }}">

  <h2>Reset Password</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-danger" role="alert">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}


  <br>
  <b>{{email}}<br></b><br>

  Password: <br>
    <div class="answer-group">
      <input type="password" class="form-control" id="p1-input" name="p1">
    </div><br>
 Confirm password:<br>
    <div class="answer-group">
      <input type="password" class="form-control" id="p2-input" name="p2">
    </div><br>
    <a class="btn btn-danger" href="/" role="button" style = "margin: 10px;">Cancel</a>
    <button type="submit" class="btn btn-primary">Submit</button>

</div>



{%endblock %}






    
